<div class="container">
    <div class="section-container">
        <h2 class="section-header">Organizing Committee</h2>
        <div class="president-section clearfix">
            <h2 class="president-header">TMAP President</h2>
            <span class="president">Atty. Maria Lourdes P. Lim</span>
        </div>
        <div class="chairman-section clearfix">
            <h2 class="chairman-header">Chairman of the Organizing Committee</h2>
            <span class="chairman">Atty. Raymund S. Gallardo</span>
            <span class="chairman">Atty. Eleanor P. Roque</span>
        </div>
        <div class="committee-section clearfix">
            <h2 class="committee-header">Committee Members</h2>
            <div class="col-md-6 left-section">
                <span class="committee">Ms. Leilah Yasmin E. Alpad</span>
                <span class="committee">Atty. Jewel M. Baga</span>
                <span class="committee">Atty. Cynthia L. Dela Paz</span>
                <span class="committee">Mr. Edward M. De Leon</span>
                <span class="committee">Atty. Romeo H. Duran</span>
                <span class="committee">Atty. Richard R. Lapres</span>
            </div>
            <div class="col-md-6 right-section">
                <span class="committee">Atty. Maria Nora N. Manalo</span>
                <span class="committee">Atty. Pepito G. Po</span>
                <span class="committee">Ms. Ester R. Punongbayan</span>
                <span class="committee">Atty. Ma. Victoria D. Sarmiento</span>
                <span class="committee">Atty. Suzette A. Celicious-Sy</span>
                <span class="committee">Atty. Priscilla B. Valer</span>
            </div>
        </div>
    </div>
</div>
