<aside id="sticky-menu">
    <ul>
        <li class="active">
            <a href="#instagram" class="sticky-link">Instagram</a>
        </li>
        <li class="active">
            <a href="#gallery1" class="sticky-link">October 18 2017</a>
        </li>
        <li>
            <a href="#gallery2" class="sticky-link">October 19 2017</a>
        </li>
        <li>
            <a href="#gallery3" class="sticky-link">October 20 2017</a>
        </li>
        <li>
            <a href="#gallery4" class="sticky-link">October 21 2017</a>
        </li>
    </ul>
</aside>