<div class="container no-gutter">
    <div class="section-container">
        <h2 class="section-header">Contact Us</h2>
        <div class="section-content clearfix">
            <h2 class="content-header">Tax Management Association of the Philippines</h2>
            <h4 class="content-subtitle">c/o Update Management & Research Center (UMRC), Inc.</h4>
            <div class="content-list">
                <span class="content-list-header">Office Address</span>
                <span class="content-list-text">Unit 1904, Cityland Herrera Tower cor. V. A. Rufino &<br> Dela Costa & Valero Sts. Makati City, Philippines</span>
            </div>
            <br/>
            <div class="content-list col-md-3">
                <span class="content-list-header">Telephone</span>
                <span class="content-list-text">+632 840 2325</span>
            </div>
            <div class="content-list col-md-3">
                <span class="content-list-header">Fax</span>
                <span class="content-list-text">+632 625 5916</span>
            </div>
            <div class="content-list col-md-3">
                <span class="content-list-header">E-mail</span>
                <span class="content-list-text">registration@aotca2017manila.com</span>
            </div>
            <div class="content-list col-md-3">
                <span class="content-list-header">Website</span>
                <span class="content-list-text">www.tmap.org.ph</span>
            </div>
        </div>
    </div>
</div>












