//Global
.no-gutter
  padding-left: 0
  padding-right: 0

.stylized
  font-family: 'Dancing-Script-Regular','sans-serif'



#accommodation
  margin-top: 196px
  position: relative
  padding-bottom: 50px
  .banner-section
    background-image: url("/img/accommodation-bg.jpg")
    background-size: cover
    background-position: center center
    height: 250px
    margin-bottom: 30px
  .content-section
    margin-top: 30px
    margin-bottom: 30px
    .content-header
      font-family: "Gotham-Medium"
      font-size: 18px
      margin-bottom: 10px
    .content-description
      margin-bottom: 10px
      line-height: 24px

    .content-link
      display: block

@media (max-width: $screen-lg)
  #accommodation
    margin-top: 121px

