//Global
.no-gutter
  padding-left: 0
  padding-right: 0

.stylized
  font-family: 'Dancing-Script-Regular','sans-serif'



#committee
  height: 100vh
  margin-top: 196px
  position: relative
  padding-top: 50px
  padding-bottom: 50px
  background-image: url('/img/committee-bg.jpg')
  background-size: cover
  background-position: center center
  .section-container
    .section-header
      font-family: "Gotham-Medium"
      text-align: center
      font-size: 36px
      margin-top: 15px
      margin-bottom: 15px

    .chairman-section, .president-section
      margin-top: 30px
      margin-bottom: 30px
      .chairman-header, .president-header
        margin-top: 15px
        margin-bottom: 15px
        text-align: center
        font-size: 24px
        font-family: "Gotham-Medium"
      .chairman, .president
        display: block
        text-align: center
        font-size: 18px
        margin-bottom: 10px

    .committee-section
      margin-bottom: 30px
      .committee-header
        margin-top: 15px
        margin-bottom: 15px
        text-align: center
        font-size: 24px
        font-family: "Gotham-Medium"
      .committee
        display: block
        text-align: center
        font-size: 18px
        margin-bottom: 10px

@media (max-width: $screen-lg)
  #committee
    margin-top: 121px

