@font-face
  font-family: Gotham-Light
  src: url('/fonts/Gotham/Gotham-Light.otf')
  src: url('/fonts/Gotham/Gotham-Light.eot'), url('/fonts/Gotham/Gotham-Light.woff') format('woff'), url('/fonts/Gotham/Gotham-Light.ttf')  format('truetype')


@font-face
  font-family: Gotham-Bold
  src: url('/fonts/Gotham/Gotham-Bold.otf')

@font-face
  font-family: Gotham-Black
  src: url('/fonts/Gotham/Gotham-Black.otf')

@font-face
  font-family: Gotham-Medium
  src: url('/fonts/Gotham/Gotham-Medium.otf')
  src: url('/fonts/Gotham/Gotham-Medium.eot'), url('/fonts/Gotham/Gotham-Medium.woff') format('woff'), url('/fonts/Gotham/Gotham-Medium.ttf')  format('truetype')





