//Global
.no-gutter
  padding-left: 0
  padding-right: 0

.stylized
  font-family: 'Dancing-Script-Regular','sans-serif'

//.b-lazy
//  background-color: white
//  -webkit-transition: opacity 500ms ease-in-out
//  -moz-transition: opacity 500ms ease-in-out
//  -o-transition: opacity 500ms ease-in-out
//  transition: opacity 500ms ease-in-out
//  max-width: 100%
//  opacity: 0
//
//.b-lazy.b-loaded
//  opacity: 1


#gallery
  background-color: #f4f4f4
  min-height: 100vh
  margin-top: 206px
  position: relative
  padding-bottom: 50px
  .section-header
    padding-top: 80px
    padding-bottom: 30px
    .header
      font-family: "Gotham-Medium"
      text-align: center
      font-size: 36px
      margin-top: 15px
      margin-bottom: 15px
      text-align: center
    .header-link
      text-decoration: none
      outline: none
      font-family: "Gotham-Medium"
      text-transform: uppercase
      padding: 20px 30px
      color: white
      display: table
      margin-left: auto
      margin-right: auto
      &#gallery-button-1
        background-color: #f1c40f
        transition: all 300ms ease-in-out
        &:hover
          background-color: #f39c12

      &#gallery-button-2
        background-color: #9b59b6
        transition: all 300ms ease-in-out
        &:hover
          background-color: #8e44ad

      &#gallery-button-3
        background-color: #e67e22
        transition: all 300ms ease-in-out
        &:hover
          background-color: #d35400


      &#gallery-button-4
        background-color: #1abc9c
        transition: all 300ms ease-in-out
        &:hover
          background-color: #16a085

  .container
    max-width: 970px
    padding-top: 15px
    padding-bottom: 50px

  #gallery-container
    min-height: 600px
    padding-top: 0
    .section-header
      padding-top: 80px
      .header
        font-family: "Gotham-Medium"
        text-align: center
        font-size: 28px
        max-width: 90%
        min-width: 90%
        margin: 15px auto
    .image-container
      .placeholder
        padding-left: 0.1px
        padding-right: 0.1px
        width: 32.33%
        float: left
        margin-right: 1%
        margin-bottom: 1%
        overflow: hidden
        position: relative
        display: block
        cursor: pointer
        -webkit-transition: all 0.3s ease-in-out
        -moz-transition: all 0.3s ease-in-out
        -o-transition: all 0.3s ease-in-out
        transition: all 0.3s ease-in-out
        height: 290px
        background: #ffffff url("/img/loading.gif") center no-repeat
        .image-link
          position: relative
          display: block
          &.add-after
            &:after
              content: "\e003"
              font-family: 'Glyphicons Halflings'
              opacity: 0
              background-color: rgba(0, 0, 0, 0.75)
              position: absolute
              right: 0
              left: 0
              top: 0
              margin-left: auto
              margin-right: auto
              bottom: 0
              text-align: center
              line-height: 280px
              font-size: 30px
              color: #fff
              -webkit-transition: all 0.5s ease-in-out 0s
              -moz-transition: all 0.5s ease-in-out 0s
              transition: all 0.5s ease-in-out 0s
            &:hover:after
              opacity: 1
          .content-image
            object-fit: cover
            display: block
            width: 100%
            height: 100%
            margin: auto
            &.b-lazy
              -webkit-transition: all 0.3s ease-in-out
              -moz-transition: all 0.3s ease-in-out
              -o-transition: all 0.3s ease-in-out
              transition: all 0.3s ease-in-out
              max-width: 100%
              height: 290px
              background: #ffffff url("/img/loading.gif") center no-repeat
            &.b-loaded
              background: transparent

#sticky-menu
  position: fixed
  top: 45%
  left: 0
  z-index: 3
  ul
    list-style: none
    padding-left: 0
    li
      .sticky-link
        text-decoration: none
        outline: none
        color: white
        font-family: "Gotham-Medium"
        text-transform: uppercase
        display: block
        padding: 15px 20px
      &:nth-child(1)
        background-color: #3498db
        transition: all 300ms ease-in-out
        &:hover
          background-color: #2980b9

      &:nth-child(2)
        background-color: #f1c40f
        transition: all 300ms ease-in-out
        &:hover
          background-color: #f39c12

      &:nth-child(3)
        background-color: #9b59b6
        transition: all 300ms ease-in-out
        &:hover
          background-color: #8e44ad

      &:nth-child(4)
        background-color: #e67e22
        transition: all 300ms ease-in-out
        &:hover
          background-color: #d35400

      &:nth-child(5)
        background-color: #1abc9c
        transition: all 300ms ease-in-out
        &:hover
          background-color: #16a085


.modal.fade
  .modal-dialog
    max-width: 80%
    margin: 0 auto
    position: absolute
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
    width: fit-content
    top: 50%
    left: 0
    right: 0
    opacity: 1
    -webkit-transform: translateY(-50%)
    -ms-transform: translateY(-50%)
    -o-transform: translateY(-50%)
    transform: translateY(-50%)
    .content-image
      max-height: 768px
  &.in
    background-color: rgba(0,0,0,0.7)
    .modal-dialog
      margin-top: 0
      margin-bottom: 0
      top: 50%
      left: 0
      right: 0
      opacity: 1
      -webkit-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      transform: translateY(-50%)
      .content-image
        max-height: 768px

.modal-content
  border: none
  border-radius: 2px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  padding: 0
  background-color: transparent
  .close
    position: absolute
    width: 35px
    height: 35px
    background-color: #000
    opacity: 1
    color: #ffffff
    z-index: 999
    right: -5px
    top: -5px
    border-radius: 50%
    font-size: 24px
    border: 2px solid #fff
    line-height: 34px
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35)
    box-shadow: none
    text-shadow: none
    &:focus
      outline: none
    &:hover
      opacity: 1
      color: #ffffff


@media (max-width: 1250px)
  #gallery
    margin-top: 141px



@media (max-width: $screen-sm-max)
  #gallery
    margin-top: 111px
    .section-header
      .header
        font-size: 28px

    #gallery-container
      .image-container
        .placeholder
          width: 49%

    #sticky-menu
      top: auto
      bottom: 0
      ul
        margin-bottom: 0
        li
          .sticky-link
            font-size: 12px
            padding: 15px

@media (max-width: $screen-xs-max)
  #gallery
    #gallery-container
      .image-container
        .placeholder
          margin-left: 0.5%
          margin-right: 0.5%
          width: 99%
          margin-bottom: 15px
          .image-link
            &.add-after
              &:after
                display: none


@media (max-width: 568px)
  #gallery
    .container
      padding-bottom: 15px
      padding-left: 15px
      padding-right: 15px
      #gallery-container
        .section-header
          .header
            font-size: 24px





