//Global
.no-gutter
  padding-left: 0
  padding-right: 0


#cover
  position: relative
  background-image: url('/img/cover-bg.jpg')
  background-attachment: fixed
  background-size: cover
  background-position: center center
  margin-top: 120px
  height: 680px
  height: -webkit-calc(100vh - 120px)
  height: -moz-calc(100vh - 120px)
  height: calc(100vh - 120px)
  .container-fluid
    height: inherit
    .bg-overlay
      position: absolute
      width: 100%
      height: 100%
      background-color: rgba(0,0,0,0.5)
    .intro-container
      position: relative
      top: 50%
      transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      margin-left: auto
      margin-right: auto
      .countdown-container
        #clock
          font-weight: 700
          margin: 0 -30px 30px
          display: inline-block
          .item-list
            display: block
            float: left
            font-size: 62px
            line-height: 1
            color: #fff
            letter-spacing: 3px
            margin: 0 30px
            font-family: "Gotham-Medium"
            #countdown-day
              color: #fff200 !important
            .countdown-name
              display: block
              font-size: 22px
              margin-top: 8px
              line-height: 1
              text-transform: uppercase
              letter-spacing: 1px
              color: #fff
              font-family: "Gotham-Light"
            #countdown-hour
              color: #ff8a00 !important
            #countdown-minute
              color: #00b9ff !important
            #countdown-second
              color: #8dc63f !important
        .countdown-header
          margin-top: 0
          margin-bottom: 10px
          color: #ffffff
          font-size: 42px
          font-weight: 900
          font-family: "Gotham-Medium"
        .countdown-subtitle
          color: #ffffff
          font-size: 22px
          line-height: 24px
          font-weight: 700

#welcome
  position: relative
  padding-top: 50px
  padding-bottom: 50px
  .left-section
    .section-image
      max-width: 80%
  .right-section
    .section-content
      margin-bottom: 30px
      .section-header
        font-size: 24px
        font-family: "Gotham-Medium"
        line-height: 35px
        margin-bottom: 20px
      .section-description
        line-height: 25px

    .section-officer
      margin-top: 15px
      text-align: center
      .officer-name
        margin-top: 10px
        font-size: 16px
        display: block
        font-family: "Gotham-Medium"
      .officer-position
        display: block
      .officer-association
        display: block

#sponsor
  position: relative
  padding-top: 50px
  padding-bottom: 50px
  .section-container
    .section-header
      font-family: "Gotham-Medium"
      text-align: center
      font-size: 36px
      margin-top: 15px
      margin-bottom: 15px

    .platinum-section
      margin-top: 30px
      margin-bottom: 30px
      margin-left: auto
      margin-right: auto
      .platinum-header
        margin-top: 15px
        margin-bottom: 15px
        text-align: center
        font-size: 24px
        font-family: "Gotham-Medium"
      .sponsor-list
        margin-top: 30px
        margin-bottom: 30px
        .link
          display: table
          outline: none
          margin-left: auto
          margin-right: auto
          .sponsor-image
            display: inline-block
            vertical-align: middle
            width: 100%

    .gold-section
      margin-bottom: 30px
      margin-left: auto
      margin-right: auto
      .gold-header
        margin-top: 15px
        margin-bottom: 15px
        text-align: center
        font-size: 24px
        font-family: "Gotham-Medium"
      .sponsor-list
        margin-top: 30px
        margin-bottom: 30px
        .link
          display: table
          outline: none
          margin-left: auto
          margin-right: auto
          .sponsor-image
            display: inline-block
            vertical-align: middle

#gmap
  position: relative
  #map
    height: 50vh
    max-height: 500px
    #info-window-container
      padding: 10px
      .info-window-content
        #info-address
          h2
            font-family: "Segoeui-Bold"
            text-transform: uppercase
          .address
            font-size: 14px
            font-family: "Segoeui"
            margin-bottom: 15px
      .info-window-footer
        .get-direction
          display: block
          font-family: "Segoeui-Bold"


.modal.fade
  .modal-dialog
    position: absolute
    top: 40%
    left: 0
    right: 0
    opacity: 0
    -webkit-transform: translateY(-40%)
    -ms-transform: translateY(-40%)
    -o-transform: translateY(-40%)
    transform: translateY(-40%)
    -webkit-transition: all 0.3s ease
    -moz-transition: all 0.3s ease
    -o-transition: all 0.3s ease
    transition: all 0.3s ease
  &.in
    background-color: rgba(0,0,0,0.7)
    .modal-dialog
      min-width: 50%
      max-width: 50%
      margin-top: 0
      margin-bottom: 0
      position: absolute
      top: 40%
      opacity: 1
      -webkit-transform: translateY(-40%)
      -ms-transform: translateY(-40%)
      -o-transform: translateY(-40%)
      transform: translateY(-40%)

/* DIALOG CONTENT
.modal-content
  border: none
  border-radius: 2px
  -webkit-box-shadow: none
  -moz-box-shadow: none
  box-shadow: none
  padding: 0
  background-color: transparent
  .close
    position: absolute
    width: 35px
    height: 35px
    background-color: #000
    opacity: 1
    color: #ffffff
    z-index: 999
    right: -5px
    top: -5px
    border-radius: 50%
    font-size: 24px
    border: 2px solid #fff
    line-height: 34px
    -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.35)
    box-shadow: none
    text-shadow: none
    &:focus
      outline: none
    &:hover
      opacity: 1
      color: #ffffff
  .text-alert
    margin: 20px auto
    color: white
    text-align: center




@media (max-width: 1440px)
  #cover
    .container-fluid
      .intro-container
        .intro-image
          .cover-image
            max-width: 40%
            min-width: 40%

  .modal.fade.in
    .modal-dialog
      top: 50%
      transform: translateY(-50%)
      -moz-transform: translateY(-50%)
      -o-transform: translateY(-50%)
      -ms-transform: translateY(-50%)
      max-width: 90%
      min-width: 70%


@media (max-width: 1250px)
  #cover
    margin-top: 111px

@media (max-width: $screen-lg)
  #cover
    height: 100vh
    margin-top: 0

@media (max-width: $screen-sm-max)
  #cover
    .container-fluid
      .intro-container
        .countdown-container
          #clock
            margin-bottom: 30px
            display: table
            margin-left: auto
            margin-right: auto
            .item-list
              font-size: 48px
              .countdown-name
                font-size: 14px
          .countdown-header
            text-align: center
            font-size: 28px
          .countdown-subtitle
            font-size: 16px
            text-align: center

  #welcome
    .left-section
      .section-image
        max-width: 100%
        height: 250px
        margin-bottom: 30px
    .right-section
      padding-left: 30px
      padding-right: 30px


  #welcome
    .right-section
      .section-officer
        .officer-association
          margin-bottom: 30px


@media (max-width: $screen-xs-max)
  #cover
    .container-fluid
      .intro-container
        .countdown-container
          #clock
            display: block
            float: left
            width: 100%
            .item-list
              font-size: 38px
              text-align: center
              width: 25%
              margin-left: 0
              margin-right: 0
              .countdown-name
                font-size: 14px
          .countdown-header
            font-size: 22px
          .countdown-subtitle
            font-size: 12px

  #sponsor
    .section-container
      .section-header
        font-size: 28px
      .platinum-section
        .sponsor-list
          margin-top: 15px
          margin-bottom: 15px
          .link
            .sponsor-image
              height: 60px
      .gold-section
        .sponsor-list
          margin-top: 15px
          margin-bottom: 15px
          .link
            .sponsor-image
              width: auto
              height: 60px
              &.gold2
                height: 40px

@media (max-width: 800px) and (orientation: landscape)
  #cover
    .container-fluid
      .intro-container
        .intro-image
          .cover-image
            max-width: 50%



@media (max-width: 568px)
  #cover
    height: auto
    .container-fluid
      .intro-container
        top: 0
        transform: none
        padding: 190px 0 100px
      .mouse-scroll-container
        .caption
          font-size: 12px

  #countdown
    .countdown-container
      .section-header
        font-size: 1.3em


  footer
    h4
      font-size: 14px
    h5
      font-size: 12px

@media (max-width: 568px) and (orientation: landscape)
  #cover
    height: auto
    .container-fluid
      .intro-container
        top: 0
        transform: none
        padding: 150px 0 100px
  #our-gallery
    .container
      #gallery-container
        .placeholder
          padding: 2px
  footer
    h4
      font-size: 14px
    h5
      font-size: 12px

@media (max-width: 568px) and (orientation: landscape)
  #cover
    height: auto
    .container-fluid
      .intro-container
        top: 0
        transform: none
        padding: 150px 0 100px
