<div class="banner-section"></div>
<div class="container">
    <div class="col-sm-10 col-sm-push-2 col-xs-12 no-gutter header-container">
        <h4 class="header"><b class="text-medium">Dress codes:</b> Business attire for conference then for gala preferably Filipiniana for local delegates and national costume for foreign delegates.</h4>
    </div>
    <div class="program-content col-xs-12 no-gutter">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">18<span>October, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: Makati Shangri-La Manila (Manila A&B Meeting Room)</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="20%">14:00 - 15:00</td>
                            <td width="45%">AOTCA Technical Committee</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">16:00 - 17:00</td>
                            <td width="45%">AOTCA Auditor's Meeting</td>
                            <td width="35%">Mr. Ikeda (AOTCA President)</td>
                        </tr>
                        <tr>
                            <td width="20%">17:00 - 18:00</td>
                            <td width="45%">AOTCA General Council Meeting</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">18:30 - 20:30</td>
                            <td width="45%">VIP Cocktail Reception <b class="text-medium">(by invitation only)</b></td>
                            <td width="35%"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">19<span>October, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: Makati Shangri-La Manila (Manila A&B Meeting Room)</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="20%">8:00 - 9:00</td>
                            <td width="45%">Global Tax Advisers Co-operation Forum</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">8:00 - 9:00</td>
                            <td width="45%">Registration for AOTCA General Meeting</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">9:00 - 11:30 </td>
                            <td width="45%">AOTCA General Meeting</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">11:30 - 12:00</td>
                            <td width="45%">Photo Taking</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">12:00 - 13:30</td>
                            <td width="45%">Lunch <b class="text-medium">(by invitation only)</b></td>
                            <td width="35%"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">19<span>October, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h1 class="table-header text-medium">International Tax Conference </h1>
                    <h2 class="table-header text-medium">Venue: Makati Shangri-La Manila (Rizal Ballroom)</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="20%">12:00 - 13:30</td>
                            <td width="45%">Registration for Tax Conference</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">13:30 - 13:45</td>
                            <td width="45%">Opening Address</td>
                            <td width="35%">Mr. Toshihiro Ikeda (AOTCA President)</td>
                        </tr>

                        <tr>
                            <td width="20%">13:45 - 13:55</td>
                            <td width="45%">Welcome Message</td>
                            <td width="35%">Ms. Maria Lourdes P.  Lim (TMAP President)</td>
                        </tr>

                        <tr>
                            <td width="20%">13:55 - 14:20</td>
                            <td width="45%">Keynote Speech by Guest of Honor </td>
                            <td width="35%">Honorable Justice Catherine T. Manahan, Court of Tax Appeals</td>
                        </tr>

                        <tr>
                            <td width="20%">14:20 - 15:00</td>
                            <td width="45%">Topic 1 Special Presentation – Base Erosion and Profit Shifting (BEPS)
                                <br/>
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41QUc2RndPOUZjYTQ" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%">Mr. David Russell</td>
                        </tr>

                        <tr>
                            <td width="20%">15:00 - 15:30</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">15:30 - 16:45 </td>
                            <td width="45%">Topic 2  – Transfer Pricing, Post-BEPS implementation and related developments
                                <br/>
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41Qm5yaFVGWllRa3M" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation1</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41SzZmdW9FVnRaWlk" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation2</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41dTl4bjl4MVVQVVU" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation3</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41ZjhnYUVJTHBDUkk" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation4</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%"><b class="text-medium">Moderator:</b> <br/> Mr. Alexander Cabrera <br/> <b class="text-medium">Speakers:</b> <br/> Mr. Carlo Navarro <br/>Mr. Paul Lau <br/> Mr. Peter Su <br/> Mr.  Thinker Chen
                            </td>
                        </tr>

                        <tr>
                            <td width="20%">16:45 - 17:15</td>
                            <td width="45%">Topic 3 – US Tax development/reforms and its impact to the region
                                <br/>
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41OVQ0YVdGZUJDVDg" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%">Mr. Gregory Lamont</td>
                        </tr>

                        <tr>
                            <td width="20%">18:30 - 22:30</td>
                            <td width="45%">Gala Night</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">18:30 to 19:00</td>
                            <td width="45%">Cocktails</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">19:30 - 21:00</td>
                            <td width="45%">Dinner Entertainment </td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">21:00 - 22:00</td>
                            <td width="45%">Country Presentations </td>
                            <td width="35%"></td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>


            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">20<span>October, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: Makati Shangri-La Manila (Rizal Ballroom)</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="20%">8:00 - 9:00</td>
                            <td width="45%">Registration for Tax Conference</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">9:00 - 9:10 </td>
                            <td width="45%">Inspirational Message</td>
                            <td width="35%">Commissioner Caesar Dulay, Bureau of Internal Revenue </td>
                        </tr>

                        <tr>
                            <td width="20%">9:10 - 9:40 </td>
                            <td width="45%">Topic 4 - Final report on the taxpayer charter project
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41TWpwYldZaF82TE0" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%">Mr. Michael Cadesky</td>
                        </tr>

                        <tr>
                            <td width="20%">9:40 - 10:40 </td>
                            <td width="45%">Topic 5  - Tax Dispute Resolution and Refund Process
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41al9TN0RkVWF1ZVU" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%"><b class="text-medium">Moderator:</b> <br/> Mr. Victor de Dios <br/> <b class="text-medium">Speaker:</b> <br/> Mr. Kai Eng Yeo <br/> <b class="text-medium">Reactors:</b> <br/> Mr. Ruston Tambunan <br/> Ms. Tracey Rens</td>
                        </tr>

                        <tr>
                            <td width="20%">10:40 - 11:00</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">11:00 - 12:30</td>
                            <td width="45%">Topic 6 - Country Update - Tax Reform
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41X29FdWJJZ3lNUXc" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation1</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41WEpYWGdnMERiSXc" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation2</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41VFdLZ3BpZUtNNE0" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation3</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41bTFlMUlLVXdsRUU" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation4</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%"><b class="text-medium">Moderator:</b> <br/> Ms. Rina Manuel <br/> <b class="text-medium">Speaker:</b> <br/> Ms. Ma. Teresa S. Habitan <br/> Mr. Rock Zhao <br/> Mr. Takeshi Ogura <br/> Mr. Le Khanh Lam </td>
                        </tr>

                        <tr>
                            <td width="20%">12:30 - 14:00</td>
                            <td width="45%">Lunch</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">14:00-15:15 </td>
                            <td width="45%">Topic 7: Tax and Technology
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41dmhzMFZyODVPRG8" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation1</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41WnRTTzc5cVQ0cEk" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation2</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41MzRybUxndl9WSVk" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation3</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41MzBydk5zRTRRNDg" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation4</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%"><b class="text-medium">Moderator:</b> <br/> Mr. Benedict Tugonon <br/> <b class="text-medium">Speaker:</b>  <br/> Mr. Kijun Kim <br/>  Mr. K. Sandra Segaran <br/> Ms. Enkhzul Jambal <br/> Mr. Jeremy Choi </td>
                        </tr>

                        <tr>
                            <td width="20%">15:15 - 15:30 </td>
                            <td width="45%">Topic 8  - Paying Taxes Survey
                            </td>
                            <td width="35%">Ms. Maria Lourdes P.  Lim </td>
                        </tr>

                        <tr>
                            <td width="20%">15:30 - 16:00</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>

                        <tr>
                            <td width="20%">16:00- 17:20 </td>
                            <td width="45%">Topic 9  - Country Update -Best Practice on Tax Administration
                                <div class="presentation-container">
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41dGYyRW9nTEh5YzQ" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation1</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41ajFDWnBHSnFQOEE" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation2</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41bFduUklGVkxrLTg" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation3</span>
                                    </a>
                                    <a href="https://drive.google.com/open?id=0BwdZD1vH5e41RUdsM1FiYUFKb3M" class="presentation-link" target="_blank">
                                        <img src="/img/presentation-icon.png" class="presentation-button center-block"/>
                                        <span class="presentation-text">Presentation4</span>
                                    </a>
                                </div>
                            </td>
                            <td width="35%"><b class="text-medium">Moderator:</b> <br/> Eleanor Roque <br/> <b class="text-medium">Speaker:</b> <br/> Mr. Shih Chou Huang  <br/> Ms. Theresa Chua  <br/> Ms. Marissa Cabreros <br/> Mr. Chang Kyu Lee  </td>
                        </tr>

                        <tr>
                            <td width="20%">17:20 - 17:30</td>
                            <td width="45%">Closing Remarks</td>
                            <td width="35%">Ms. Euney Mata-Perez</td>
                        </tr>

                        </tbody>
                    </table>
                </div>
            </div>

            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">21<span>October, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">City Tour</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="20%">8:30 - 12:00</td>
                            <td width="45%">For overseas delegates </td>
                            <td width="35%"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <br/>
            <br/>
            <h4 style="font-size: 16px; margin-top: 60px; display: block; float: left; font-family: 'Gotham-Medium'; ">Conference Souvenir Program: To access the AOTCA 2017 International Tax Conference souvenir program,
                <a href="https://drive.google.com/open?id=0BwdZD1vH5e41QjVnTnhGR3NocDA" target="_blank">please click this link.</a>
            </h4>
            <br/>
            <!--<h4 style="font-size: 14px; margin-top: 40px; display: block; float: left;">*Please note that the program is still subject to change without prior notice.</h4>-->

        </div>
    </div>
</div>
