<div class="banner-section"></div>
<div class="container">
    <div class="program-content">
        <div class="row">
            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">19<span>Oct, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: Shangri-La (Rizal Ballroom) </h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td width="20%">12:30 - 13:30</td>
                            <td width="45%">Registration</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">13:30 - 13:45</td>
                            <td width="45%">Opening Address</td>
                            <td width="35%">Mr. Ikeda (AOTCA President)</td>
                        </tr>
                        <tr>
                            <td width="20%">13:45 - 13:55</td>
                            <td width="45%">Welcome Speech</td>
                            <td width="35%">Ms. Lim (TMAP President)</td>
                        </tr>
                        <tr>
                            <td width="20%">13:55 - 14:20</td>
                            <td width="45%">Keynote Speech by Guest of Honor </td>
                            <td width="35%">TBC</td>
                        </tr>
                        <tr>
                            <td width="20%">14:20 - 15:00</td>
                            <td width="45%">Topic 1 - Special Presentation – Base Erosion and Profit Shifting (BEPS)</td>
                            <td width="35%">Mr. David Russell</td>
                        </tr>
                        <tr>
                            <td width="20%">15:00 - 15:30</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">15:30 - 16:15</td>
                            <td width="45%">Topic 2 – TP Post-BEPS implementation and related developments</td>
                            <td width="35%">Panel</td>
                        </tr>
                        <tr>
                            <td width="20%">16:15 - 17:30</td>
                            <td width="45%">Topic 3 – US Tax development/reforms and its impact to the region</td>
                            <td width="35%">TBC</td>
                        </tr>
                        <tr>
                            <td width="20%">18:30 - 21:30</td>
                            <td width="45%">Gala Dinner</td>
                            <td width="35%">Delegates and guests</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">20<span>Oct, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: Shangri-La (Rizal Ballroom) </h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="20%">8:00 - 9:00</td>
                            <td width="45%">Registration for Tax Conference</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">9:00 - 9:30</td>
                            <td width="45%">Topic 4 - "Final report on the taxpayer charter project"</td>
                            <td width="35%">Mr. Michael Cadesky</td>
                        </tr>
                        <tr>
                            <td width="20%">9:30 - 10:15</td>
                            <td width="45%">Topic 5 - Tax Dispute Resolution and Refund Process</td>
                            <td width="35%">Panel</td>
                        </tr>
                        <tr>
                            <td width="20%">10:15 - 10:45</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">10:45 - 12:00</td>
                            <td width="45%">Topic 6 - Tax reform (selected Asian countries)</td>
                            <td width="35%">Panel</td>
                        </tr>
                        <tr>
                            <td width="20%">12:00 - 13:30</td>
                            <td width="45%">Lunch</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">13:30 - 13:45</td>
                            <td width="45%">Group Dynamics</td>
                            <td width="35%">TBC</td>
                        </tr>
                        <tr>
                            <td width="20%">13:45 - 14:45</td>
                            <td width="45%">Topic 7 – SMEs or Rising role of technology in tax management</td>
                            <td width="35%">TBC</td>
                        </tr>
                        <tr>
                            <td width="20%">14:45 - 15:05</td>
                            <td width="45%">Coffee Break</td>
                            <td width="35%"></td>
                        </tr>
                        <tr>
                            <td width="20%">15:05 - 16:50</td>
                            <td width="45%">Topic 8  - Country Update -Best Practice on Tax Administration (selected Asian countries)</td>
                            <td width="35%">Panel</td>
                        </tr>
                        <tr>
                            <td width="20%">16:50 - 17:00</td>
                            <td width="45%">Closing Remarks</td>
                            <td width="35%"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="divider"></div>

            <div class="col-xs-2 col-sm-2">
                <div class="schedule-date">21<span>Oct, 2017</span></div>
            </div>
            <div class="col-xs-10 col-sm-10">
                <div class="table-responsive">
                    <h2 class="table-header text-medium">Venue: City Tour</h2>
                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>Time</th>
                            <th>Program</th>
                            <th>Speaker</th>
                        </tr>
                        </thead>
                        <tbody>

                        <tr>
                            <td width="20%">8:30 - 12:00</td>
                            <td width="45%">For Overseas Delegates</td>
                            <td width="35%"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
    </div>
</div>