---
layout: default
css: accommodation.css
title: Accommodation
javascript: >
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
        function initMap() {
    //            var json = [
    //                {
    //                    "title": "Stockholm",
    //                    "lat": 59.3,
    //                    "lng": 18.1,
    //                    "description": "Stockholm is the capital and the largest city of Sweden and constitutes the most populated urban area in Scandinavia with a population of 2.1 million in the metropolitan area (2010)"
    //                },
    //                {
    //                    "title": "Oslo",
    //                    "lat": 59.9,
    //                    "lng": 10.8,
    //                    "description": "Oslo is a municipality, and the capital and most populous city of Norway with a metropolitan population of 1,442,318 (as of 2010)."
    //                },
    //                {
    //                    "title": "Copenhagen",
    //                    "lat": 55.7,
    //                    "lng": 12.6,
    //                    "description": "Copenhagen is the capital of Denmark and its most populous city, with a metropolitan population of 1,931,467 (as of 1 January 2012)."
    //                }
    //            ]

            var map = new google.maps.Map(document.getElementById("map"), {
                center: new google.maps.LatLng(57.9, 14.6),
                zoom: 6,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            $.getJSON("/feed/feed.json", function (data) {
                $.each(data,function (key,value) {

                        console.log(value.title);
                        console.log(value.lat);
                        console.log(value.lng);
                        console.log(value.description);
                        console.log(data.length);
                    for (var i = 0, length = data.length; i < length; i++) {

    //                        var hotelData = value[key],

                            latLng = new google.maps.LatLng(value.lat, value.lng);
                        console.log(value.lat);


                        // Creating a marker and putting it on the map
                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            title: value.title
                        });
                    }

                    var infoWindow = new google.maps.InfoWindow();

                    // Creating a closure to retain the correct data
                    //Note how I pass the current data in the loop into the closure (marker, data)
                    (function(marker, value) {

                        // Attaching a click event to the current marker
                        google.maps.event.addListener(marker, "click", function(e) {
                            infoWindow.setContent(value.description);
                            infoWindow.open(map, marker);
                        });

                    })(marker, value);

                });
            }).fail(function (jqxhr, status, error) {
                console.log('error', status, error) }
            );;
        }



    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkVtX_aRok2Wk5HMg6EB4ZXn5qnfgwdJs&callback=initMap"></script>


---

{{ content }}