---
layout: default
css: accommodation.css
title: Accommodation
javascript: >
    <script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript"></script>
    <script type="text/javascript">
        function initMap() {
            var map = new google.maps.Map(document.getElementById("map"), {
                draggable: true,
                zoomControl: true,
                scaleControl: false,
                scrollwheel: false,
                center: new google.maps.LatLng(14.553917, 121.024694),
                zoom: 16,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            });

            var infowindow = new google.maps.InfoWindow({
                content: ''
            });

            $.getJSON("/feed/feed.json", function (data) {
                $.each(data,function (key,value) {
                    for (var i = 0, length = data.length; i < length; i++) {
                        latLng = new google.maps.LatLng(value.lat, value.lng);
                        var icon = {
                            url:  value.icon,
                            size: new google.maps.Size(value.markerW,value.markerH),
                            origin: new google.maps.Point(0, 0),
                            anchor: new google.maps.Point(0, 0),
                            scaledSize: new google.maps.Size(value.markerW,value.markerH)
                        };

                        var marker = new google.maps.Marker({
                            position: latLng,
                            map: map,
                            icon: icon
                        });
                    }

                    var contentString = '<a class="hotel-name" target="_blank" href="'+ value.link +'">'+ value.title +'</a>' +
                        ' <br/>' +
                        ' <span class="hotel-address">'+ value.address +'</span>' +
                        ' <br/>' +
                        ' <span class="hotel-contact">'+ value.telephone +' <br> '+ value.fax +' <br>'+ value.email +' </span>';

                    google.maps.event.addListener(marker, 'click', function() {
                        infowindow.close();
                        infowindow.setContent(contentString);
                        infowindow.open(map,marker);
                    });

                });
            }).fail(function (jqxhr, status, error) {
                console.log('error', status, error) }
            );;
        }



    </script>

    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDkVtX_aRok2Wk5HMg6EB4ZXn5qnfgwdJs&callback=initMap"></script>


---

{{ content }}