<div class="banner-section"></div>
<div class="container no-gutter">
    <div class="content-section clearfix">
        <h4 class="content-header">About the Philippines</h4>
        <p class="content-description">Composed of 7,107 islands, the Philippines is readily accessible to the different capitals of the world. Its three main islands are Luzon, Visayas and Mindanao.</p>
        <p class="content-description">The Philippines is the third largest English speaking country in the world. It has a rich history combining Asian, European, and American influences.</p>
        <p class="content-description">Filipinos are a fun-loving people. Throughout the islands, there are fiestas celebrated every day and foreign guests are always welcome to their homes. </p>
        <p class="content-description">The Philippines, being an archipelago, offers countless of destinations to see, adventures to experience and activities to do. The country is blessed with a rich environment— lush forests, tropical islands, white sand beaches, lakes, rivers, mountains— and friendly, artistic and hardworking people who are always happy to welcome visitors and friends.</p>
        <a href="http://www.tourism.gov.ph" target="_blank" class="content-link">www.tourism.gov.ph</a>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Travel to Philippines</h4>
        <p class="content-description">As the convention will be held in Metro Manila, the most accessible airport to arrive at is the Ninoy Aquino International Airport (NAIA), which is served by more than 30 airlines flying to different cities around the world. Foreign airlines frequently use Terminal 1 or 3 of NAIA, except for Philippine Airlines which uses Terminal 2.</p>
        <p class="content-description">Other international airports are located in Cebu, Davao, Clark, Subic, and Laoag.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Passport and visa</h4>
        <p class="content-description">Nationals from the vast majority of countries, including all ASEAN countries, can enter the Philippines without a visa for a stay not exceeding thirty (30) days, or obtain a visa on arrival for up to 60 days, as long as they have a return or onward ticket as well as passports valid for a period of at least six months beyond the period of stay.</p>
        <p class="content-description">For the full guidelines on the entry of temporary visitors to the Philippines, please visit the website of the Department of Foreign Affairs.</p>
        <a href="www.dfa.gov.ph" target="_blank">www.dfa.gov.ph</a>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Airport Transfer</h4>
        <p class="content-description">A variety of ground transportation services are available at NAIA: shuttle, airport taxi, coupon taxi, and car rentals. Passengers with pre-arranged hotel car service arrangements may proceed to the Hotel Lounge. </p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Inland transportation</h4>
        <p class="content-description">Trains, taxis, buses, jeepneys, and trikes are the primary modes of public transportation. Taxis, with a flag-down rate of P40.00 are generally available within the major cities. Ride sharing apps such as Grab Taxi and Uber are also available in major cities.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Time zone</h4>
        <p class="content-description">Local time is GMT plus 8 hours.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Climate</h4>
        <p class="content-description">The Philippines has a tropical climate. The summer months are from March to May while the rainy season starts in June and may extend to October, with possibility of typhoons. Cooler temperatures register in the months of November to February.</p>
        <p class="content-description">For most up-to-date weather information, kindly visit the Philippine Atmospheric, Geophysical and Astronomical Services Administration website.</p>
        <a href="www.pagasa.dost.gov.ph" target="_blank" class="content-link">www.pagasa.dost.gov.ph</a>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Language</h4>
        <p class="content-description">The national language is Filipino. English is widely used by the general population and is the medium of instruction.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Currency</h4>
        <p class="content-description">The official currency is the Philippine Peso. Denominations of the Peso bill are 20, 50, 100, 200, 500 and 1000. Please note that it is against the law for any incoming or outgoing passenger to bring in or out of the country Philippine Pesos in excess of P10,000.00 without prior authority from the Bangko Sentral ng Pilipinas.
        </p>
        <p class="content-description">Foreign currency can be exchanged at the airports, banks or authorized money changer shops. Any foreign currency in excess of US$10,000.00 or its equivalent in other foreign currencies brought in the country must be declared to a Customs Officer or the Bangko Sentral ng Pilipinas.</p>
        <p class="content-description">Major credit cards including American Express, Visas and MasterCard are accepted at large establishments, restaurants , hotels and resorts. </p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Banks and automated teller machines</h4>
        <p class="content-description">Banking hours are from 9am to 3pm, from Mondays to Fridays although there are certain banks that are open on Saturdays.  Automated Teller Machines (ATMs) can be found almost everywhere and provide 24-hour cash withdrawal .  ATMs with logos of international networks may accept foreign issued cards.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Telecommunication</h4>
        <p class="content-description">The country code for the Philippines is 63. The area code for Metro Manila is 2. To make an overseas call, include the prefix 00. You can direct dial anywhere in the world.</p>
        <p class="content-description">Local SIM cards are easy to purchase and can be used in almost all phones.</p>
        <p class="content-description">Internet access is available in much of the Philippines although network congestion often results in slow connection speeds. Wi-fi access is commonly available in hotels, resorts, malls, and some restaurants. If you have an internet-enabled mobile phone you can get online through the regular wireless networks of local telecom companies such as Globe and Smart.</p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Electricity</h4>
        <p class="content-description">The standard voltage in the Philippines is 220 volts AC/60hz. </p>
    </div>
    <div class="content-section clearfix">
        <h4 class="content-header">Dining</h4>
        <p class="content-description">The Philippines offers a unique culinary experience with diverse flavors influenced by its archipelagic geography and colorful history. Other cuisines such as American, Chinese, Greek, Indian, French, Japanese and flavors of other countries are also offered by restaurants in the metropolis. </p>

    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Referrence</h4>
        <a href="http://www.tourism.gov.ph" target="_blank" class="content-link">www.tourism.gov.ph</a>
        <a href="https://www.lonelyplanet.com/philippines" target="_blank" class="content-link">www.lonelyplanet.com/philippines</a>
        <a href="http://wikitravel.org/en/Philippines" target="_blank" class="content-link">wikitravel.org/en/Philippines</a>
        <a href="http://125.60.203.88/miaa/index.php" target="_blank" class="content-link">125.60.203.88/miaa/index.php</a>

    </div>
</div>