<div class="container-fluid no-gutter">
    <div class="bg-overlay"></div>
    <div class="intro-container">
        <div class="countdown-container container no-gutter">
            <div id="clock">
                <div class="item-list">
                    <span id="countdown-day" class="countdown-value"></span>
                    <span class="countdown-name">DAYS</span>
                </div>

                <div class="item-list">
                    <span id="countdown-hour" class="countdown-value"></span>
                    <span class="countdown-name">HOURS</span>
                </div>

                <div class="item-list">
                    <span id="countdown-minute" class="countdown-value"></span>
                    <span class="countdown-name">MINUTES</span>
                </div>

                <div class="item-list">
                    <span id="countdown-second" class="countdown-value"></span>
                    <span class="countdown-name">SECONDS</span>
                </div>
            </div>
            <h2 class="countdown-header">Asia Oceania Tax Consultants' Association</h2>
            <h2 class="countdown-header">2017 International Tax Conference</h2>
            <h3 class="countdown-subtitle">19 - 20 October, 2017, Makati Shangri-La, Manila, Philippines</h3>
        </div>
    </div>
</div>

