<div class="container no-gutter">
    <div class="section-container">
        <h2 class="section-header">Our Event Sponsors</h2>

        <div class="platinum-section clearfix">
            <h2 class="platinum-header">Platinum Sponsors</h2>
            <div class="col-md-push-2 col-md-4 col-sm-6 col-xs-12 sponsor-list">
                <a href="http://www.pg.com/en_PH/" class="link" target="_blank">
                    <img src="/img/sponsor/platinum1.png" class="sponsor-image center-block img-responsive"/>
                </a>
            </div>
            <div class="col-md-push-2 col-md-4  col-sm-6 col-xs-12 sponsor-list">
                <a href="https://www.pwc.com/ph/en.html" class="link" target="_blank">
                    <img src="/img/sponsor/platinum2.png" class="sponsor-image center-block img-responsive"/>
                </a>
            </div>
        </div>
        <div class="gold-section clearfix">
            <h2 class="gold-header">Gold Sponsors</h2>
            <div class="col-md-push-2 col-md-4  col-sm-6 col-xs-12 sponsor-list">
                <a href="http://www.grantthornton.com.ph/" class="link" target="_blank">
                    <img src="/img/sponsor/gold1.png" class="sponsor-image center-block img-responsive"/>
                </a>
            </div>
            <div class="col-md-push-2 col-md-4 col-sm-6 col-xs-12 sponsor-list" target="_blank">
                <a href="https://www2.deloitte.com/ph/en/footerlinks/office-locator/philippines/navarro-amper-co-main-office.html" class="link">
                    <img src="/img/sponsor/gold2.png" class="sponsor-image gold2 center-block img-responsive"/>
                </a>
            </div>
        </div>
        <div class="gold-section clearfix">
            <h2 class="gold-header">Partner Agency</h2>
            <div class="col-md-push-4 col-md-4  col-sm-6 col-xs-12 sponsor-list">
                <a href="https://tpb.gov.ph/" class="link" target="_blank">
                    <img src="/img/sponsor/tpb.jpg" class="sponsor-image center-block img-responsive"/>
                </a>
            </div>
        </div>
    </div>
</div>
