<div class="container no-gutter">
    <div class="col-md-4 left-section">
        <img src="/img/jeep.png" class="section-image img-responsive center-block"/>
    </div>
    <div class="col-md-8 right-section">
        <div class="section-content">
            <h2 class="chairman-header">Welcome to AOTCA International Tax Conference 2017 “Towards a Fair and Efficient Tax System”</h2>
            <p class="section-description">It is with great pride and joy that we welcome you to the AOTCA International Tax Conference 2017. This year’s conference will be hosted by the Tax Management Association of the Philippines (TMAP) and will be held at the Makati Shangri-La Manila on 19-20 October 2017.</p>
            <p class="section-description">The theme for this year is “Towards a Fair and Efficient Tax System.” While no tax system is perfect, and there is no “one size fits all” approach, we are seeing an increase on government efforts around the world to move towards a simpler, more equitable, more transparent and efficient tax system. With a fair tax system, there is proportionate equality of carrying the burden of taxes and with tax efficiency, costs of compliance with tax rules are minimized, consequently reducing administrative burden and distortions, which will ultimately benefit the taxpaying public and the economy as a whole.</p>
            <p class="section-description">The conference will focus on how taxpayers and tax administrators around the Asia-Oceania jurisdictions are coping with the challenges posed by the implementation of the BEPS action plans, various tax reforms both at the legislative and administrative level​s. These initiatives are aimed to promote more transparent tax rules and policies to comply with the higher international standards. With the changing tax landscape, the conference will highlight best practices in some of the participating jurisdictions that is both fair to the taxpayers and efficient for the tax administrators. </p>
            <p class="section-description">We look forward to a meaningful and fun conference in the Philippines. See you soon.</p>
        </div>
        <div class="section-officer">
           <div class="item col-md-6">
               <img src="/img/officer/aotca-pres.jpg" class="officer-image img-responsive center-block"/>
               <span class="officer-name">Toshihiro Ikeda</span>
               <span class="officer-position">President</span>
               <span class="officer-association">Asia Oceana Tax Consultants’ Association</span>
           </div>
            <div class="item col-md-6">
               <img src="/img/officer/tmap-pres.jpg" class="officer-image img-responsive center-block"/>
               <span class="officer-name">Maria Lourdes P. Lim</span>
               <span class="officer-position">President</span>
               <span class="officer-association">Tax Management Association of the Philippines</span>
           </div>
        </div>
    </div>

</div>
