<div class="banner-section"></div>
<div class="container">
    <div class="content-section clearfix">
        <h4 class="content-header">Registration Fees</h4>
        <p class="content-description text-medium">Local Delegate/TMAP Member Rate: PHP 10,000</p>
        <p class="content-description text-medium">Local Delegate/ Non-member Rate: PHP 12,000</p>
        <p class="content-description text-medium">International Delegate Rate: USD 300 (USD 200 for each accompanying person)</p>
        <p class="content-description">Deadline for registration is until September 15, 2017 while payment is due at time of registration. We accept bank deposit (for local delegates), bank transfer and credit card (for international delegates), as payment. Attendance is limited so please register early.</p>
        <p class="content-description">Your registration fee includes refreshment breaks, lunch, gala dinner, the opportunity to meet with other tax practitioners and speakers from around the world, and copies of the souvenir program and presentation materials.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Special Needs</h4>
        <p class="content-description">Please contact AOTCA 2017 Secretariat for services to accommodate a disability or to inform them of any dietary restrictions. Please include this information when you register for the conference.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Cancellation/ Substitution Policy</h4>
        <p class="content-description">Refund for cancellation of registration will be made and subject to the following deadline and administration charge. All cancellations must be made in writing to the AOTCA 2017 Secretariat and the refund will be made after the Conference. Cancellation on/before 22 September 2017, 50% of the registration fee will be refunded. Thereafter, no refund will be made.</p>
        <p class="content-description">An alternative participant may be substituted without charge provided that the replacement is from the same organization and upon receipt of a written request from the person to be replaced. Please note that substitution is permitted on the basis that written notice is received on/before 22 September 2017.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Venue</h4>
        <p class="content-description">Makati Shangri-La Manila</p>
        <p class="content-description">Ayala Avenue corner Makati Avenue</p>
        <p class="content-description">1200 Makati City</p>
        <p class="content-description">Philippines</p>
        <p class="content-description">Tel: +63 2 813 8888</p>
        <p class="content-description">Fax: +63 2 813 5499</p>
        <p class="content-description">Website: <a href="http://www.shangri-la.com/manila/makatishangrila/" target="_blank" class="content-link">Makati Shangri-La</a></p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Finding Your Way from Airport to the Venue</h4>
        <p class="content-description">Makati Shangri-La, Manila, is twenty minutes from the Ninoy Aquino International Airport and there are numerous options to reach Makati Shangri-La, Manila. Participants can choose between hotel limousine pick-up (please coordinate in advance with your accommodation provider), taxi and city shuttle bus.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Taxi & City Shuttle Bus</h4>
        <p class="content-description">Taxis and city shuttle buses can be found on the ground floor of the domestic and international arrival halls. Taxis are metered, and the fare between Ninoy Aquino International Airport and the hotel generally costs around USD 10 per journey.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Car Rental</h4>
        <p class="content-description">Car rentals are available at the Ninoy Aquino International Airport. For assistance, guests may proceed to the Shangri-La Airport Lounge located outside the Arrival Area, or approach any of the hotel’s Airport Representatives in red uniforms.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Driving Directions from the Airport</h4>
        <p class="content-description">From Ninoy Aquino International Airport:</p>
        <p class="content-description">1. Exit the Airport road to take the main highway, E. delos Santos Avenue (EDSA). Alternatively, you may use the NAIA Expressway and Metro Manila Skyway and take the EDSA-Magallanes Exit.</p>
        <p class="content-description">2. Once you hit the underground tunnel along EDSA, stay on the left-hand side of the road and turn left to Ayala Avenue.</p>
        <p class="content-description">3. Make a left to Ayala Center Shopping Mall, or the next stop which is 6750 Building.</p>
        <p class="content-description">4. Take the first right and follow this road going straight to Makati Shangri-La, Manila.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Guidelines on the Entry of Temporary Visitors to the Philippines</h4>
        <p class="content-description">Nationals from countries listed below who are traveling to the Philippines for business and tourism purposes are allowed to enter the Philippines without visas for a stay not exceeding thirty (30) days, provided they hold valid tickets for their return journey to port of origin or next port of destination and their passports valid for a period of at least six (6) months beyond the contemplated period of stay.</p>
        <p class="content-description">Nationals from the following countries are allowed to enter the Philippines without a visa for a period of stay of thirty (30) days or less:</p>
        <table class="table table-bordered table-content table-responsive">
            <tbody>
            <tr>
                <td>Andorra</td>
                <td>Angola</td>
                <td>Antigua and Barbuda</td>
                <td>Argentina</td>
            </tr>
            <tr>
                <td>Australia</td>
                <td>Austria</td>
                <td>Bahamas</td>
                <td>Bahrain</td>
            </tr>
            <tr>
                <td>Barbados</td>
                <td>Belgium</td>
                <td>Belize</td>
                <td>Benin</td>
            </tr>
            <tr>
                <td>Bhutan</td>
                <td>Bolivia</td>
                <td>Botswana</td>
                <td>Brazil</td>
            </tr>
            <tr>
                <td>Brunei Darussalam</td>
                <td>Bulgaria</td>
                <td>Burkina Faso</td>
                <td>Burundi</td>
            </tr>
            <tr>
                <td>Cambodia</td>
                <td>Cameroon</td>
                <td>Canada</td>
                <td>Cape Verde</td>
            </tr>
            <tr>
                <td>Central African Republic</td>
                <td>Chad</td>
                <td>Chile</td>
                <td>Colombia</td>
            </tr>
            <tr>
                <td>Comoros</td>
                <td>Congo</td>
                <td>Costa Rica</td>
                <td>Cote d’Ivoire</td>
            </tr>
            <tr>
                <td>Croatia</td>
                <td>Cyprus</td>
                <td>Czech Republic</td>
                <td>Democratic Republic of the Congo</td>
            </tr>
            <tr>
                <td>Denmark</td>
                <td>Djibouti</td>
                <td>Dominica</td>
                <td>Dominican Republic</td>
            </tr>
            <tr>
                <td>Ecuador</td>
                <td>El Salvador</td>
                <td>Equatorial Guinea</td>
                <td>Eritrea</td>
            </tr>
            <tr>
                <td>Estonia</td>
                <td>Ethiopia</td>
                <td>Fiji</td>
                <td>Finland</td>
            </tr>
            <tr>
                <td>France</td>
                <td>Gabon</td>
                <td>Gambia</td>
                <td>Germany</td>
            </tr>
            <tr>
                <td>Ghana</td>
                <td>Greece</td>
                <td>Grenada</td>
                <td>Guatemala</td>
            </tr>
            <tr>
                <td>Honduras</td>
                <td>Hungary</td>
                <td>Iceland</td>
                <td>Indonesia</td>
            </tr>
            <tr>
                <td>Ireland</td>
                <td>Israel</td>
                <td>Italy</td>
                <td>Jamaica</td>
            </tr>
            <tr>
                <td>Kuwait</td>
                <td>Kyrgyzstan</td>
                <td>Lao People’s Democratic Republic</td>
                <td>Latvia</td>
            </tr>
            <tr>
                <td>Lesotho</td>
                <td>Liberia</td>
                <td>Liechtenstein</td>
                <td>Lithuania</td>
            </tr>
            <tr>
                <td>Luxembourg</td>
                <td>Madagascar</td>
                <td>Malawi</td>
                <td>Malaysia</td>
            </tr>
            <tr>
                <td>Maldives</td>
                <td>Mali</td>
                <td>Malta</td>
                <td>Marshall Islands</td>
            </tr>
            <tr>
                <td>Mauritania</td>
                <td>Mauritius</td>
                <td>Mexico</td>
                <td>Micronesia</td>
            </tr>
            <tr>
                <td>Monaco</td>
                <td>Mongolia</td>
                <td>Morocco</td>
                <td>Mozambique</td>
            </tr>
            <tr>
                <td>Myanmar</td>
                <td>Namibia</td>
                <td>Nepal</td>
                <td>Netherlands</td>
            </tr>
            <tr>
                <td>New Zealand</td>
                <td>Nicaragua</td>
                <td>Niger</td>
                <td>Norway</td>
            </tr>
            <tr>
                <td>Oman</td>
                <td>Palau</td>
                <td>Panama</td>
                <td>Papua New Guinea</td>
            </tr>
            <tr>
                <td>Paraguay</td>
                <td>Peru</td>
                <td>Poland</td>
                <td>Portugal</td>
            </tr>
            <tr>
                <td>Qatar</td>
                <td>Republic of Korea</td>
                <td>Romania</td>
                <td>Russia</td>
            </tr>
            <tr>
                <td>Rwanda</td>
                <td>Saint Kitts and Nevis</td>
                <td>Saint Lucia</td>
                <td>Saint Vincent and the Grenadines</td>
            </tr>
            <tr>
                <td>Samoa</td>
                <td>San Marino</td>
                <td>Sao Tome and Principe</td>
                <td>Saudi Arabia</td>
            </tr>
            <tr>
                <td>Senegal</td>
                <td>Seychelles</td>
                <td>Singapore</td>
                <td>Slovak Republic</td>
            </tr>
            <tr>
                <td>Slovenia</td>
                <td>Solomon Islands</td>
                <td>South Africa</td>
                <td>Spain</td>
            </tr>
            <tr>
                <td>Suriname</td>
                <td>Swaziland</td>
                <td>Sweden</td>
                <td>Switzerland</td>
            </tr>
            <tr>
                <td>Tajikistan</td>
                <td>Thailand</td>
                <td>Togo</td>
                <td>Trinidad and Tobago</td>
            </tr>
            <tr>
                <td>Tunisia</td>
                <td>Turkey</td>
                <td>Turkmenistan</td>
                <td>Tuvalu</td>
            </tr>
            <tr>
                <td>Uganda</td>
                <td>United Arab Emirates</td>
                <td>United Kingdom of Great Britain and Northern Ireland</td>
                <td>United Republic of Tanzan</td>
            </tr>

            <tr>
                <td>United States of America</td>
                <td>Uruguay</td>
                <td>Uzbekistan</td>
                <td>Vanuatu</td>
            </tr>
            <tr>
                <td>Vatican</td>
                <td>Venezuela</td>
                <td>Vietnam</td>
                <td>Zambia</td>
            </tr>
            <tr>
                <td colspan="4">Zimbabwe</td>
            </tr>
            </tbody>
        </table>
        <br/>
        <p class="content-description">*Brazilian and Israeli nationals are given fifty-nine (59) days stay based on existing agreements.</p>

        <p class="content-description text-medium">The following are allowed to enter the Philippines without a visa for a stay not exceeding fourteen (14) days:</p>
        <p class="content-description">1. Holders of Hong Kong Special Administrative (SAR) passports.</p>
        <p class="content-description">2. Holders of Macau Special Administrative Region (SAR) passports.</p>

        <p class="content-description text-medium">The following are allowed to enter the Philippines without a visa for a stay not exceeding seven (7) days:</p>
        <p class="content-description">Holders of Macau-Portuguese passports.</p>
        <p class="content-description">Holders of Hong Kong British passports.</p>
        <p class="content-description text-medium">(Source: https://www.dfa.gov.ph/list-of-countries-for-21-day-visa)</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Letter of Invitation</h4>
        <p class="content-description">To facilitate registrants’ visa application, registrants may make a request in writing for a letter of invitation to attend the Conference from the AOTCA 2017 Secretariat.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Standard Procedure/ Minimum Requirements for Applying a Temporary Visitor’s Visa</h4>
        <p class="content-description">Application for a temporary visitor's visa must be made in person and should normally apply at the Philippine Embassy or Consulate that has jurisdiction over their place of residence. While some visa applicants may apply at any Philippine Embassy or Consulate abroad, others are only allowed to apply his/her visa at the Philippine Embassy or Consulate in his country of origin or legal residence.</p>
        <p class="content-description">The following are the minimum requirements for applying a temporary visitor’s visa:</p>
        <p class="content-description">1. Passport/Travel Document Valid for at least six (6) months beyond the intended period of stay in the Philippines</p>
        <p class="content-description">2. Duly Accomplished Visa application forms</p>
        <p class="content-description">3. Passport Photos (2 pieces)</p>
        <p class="content-description">4. Proof of bona fide status as tourist or businessman</p>
        <p class="content-description">5. Confirmed tickets for return or onward journey to the next port of destination and Payment of Visa Fees</p>
        <p class="content-description">(Source: https://www.dfa.gov.ph/guidelines-requirements)</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Registration and Information Desk</h4>
        <p class="content-description">Our registration and information counters will be operated throughout the conference for all participants and accompanying persons.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Simultaneous Interpretation</h4>
        <p class="content-description">Simultaneous interpretation will be provided in the General Meeting and the Conference.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Wi-Fi</h4>
        <p class="content-description">Complimentary Wi-Fi access is available in all the venues.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Dress Code</h4>
        <p class="content-description">The suggested dress code is Business in all meeting and conference occasions.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Insurance and Liability</h4>
        <p class="content-description">Participants are advised to secure their own insurance to cover loss incurred in case of cancellation, medical expenses and damage or loss of personal properties. TMAP does not assume responsibility or liability for stolen, lost, or damaged personal property.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Social Media</h4>
        <p class="content-description">If you want to post about the AOTCA International Tax Conference 2017 on Facebook, Twitter and Instagram, please use the hashtag #AOTCA2017Manila.</p>
        <p class="content-description">Delegates are encouraged to share their insights and experiences at AOTCA 2017 International Conference on social media and blogs and may link to content on the AOTCA 2017 International Conference website, unless otherwise noted (framing is not permitted). Delegates may not distribute, display, or post online any recordings, transcriptions, and/or copies of sessions at AOTCA 2017 International Conference without the express written permission of AOTCA and TMAP.</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header">Nearby Places to Visit</h4>
        <p class="content-description">Makati is Manila’s pièce de résistance, an inspiring gem of a city where commerce, leisure and culture converge. The Makati Central Business District is home to renowned multinational companies, swanky shopping malls, award-winning restaurants, nostalgic neighborhoods, unique art scenes and a vibrant nightlife.</p>
        <p class="content-description"><a href="http://www.myayalamalls.com/ayala+malls/id/2/Glorietta" target="_blank" class="text-medium">Glorietta</a> “As a one-stop, self-sufficient retail center located at the center of the Makati action, Glorietta offers a wide array of shopping, dining and entertainment options. With Glorietta, customers enjoy a full range of specialty food establishments and retail zones. From the latest in apparel or electronics to the staples that one can’t live without, Glorietta will always have something for everyone whether you’re a mom, an office employee or a visiting tourist. With the newly opened Glorietta 5, entertainment, retail and dining is made available amidst the growing workforce of the Business Process Outsourcing Industry.”</p>
        <p class="content-description text-medium">Address: Ayala Center, Ayala Avenue cor. Pasay Road, Makati Avenue and EDSA, Makati City</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: Sunday to Thursday (10:00 am - 9:00 pm)/ Friday to Saturday (10:00 am - 10:00 pm)</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://www.ayalamuseum.org/" target="_blank">Ayala Museum</a></h4>
        <p class="content-description">“Ayala Museum, located at the heart of the Makati Central Business District, Philippines, is a breathing space amidst the hustle and bustle of Metropolitan Manila. Whenever visiting the country, the museum is surely one of the best places to lose yourself in amazing contemporary art and uplift your spirit through the Philippines’ inspiring history.</p>
        <p class="content-description">Among the museum’s highlights is its collection of archeological artifacts, notably the Gold of Ancestors: Pre-Colonial Treasures in the Philippines, which serve as a testament to the Filipinos’ rich ancestry and inherent craftsmanship. An impressive selection of trade ceramics from Southeast Asia and China from the Roberto T. Villanueva collection are also on display in the exhibition A Millennium of Contact, signifying the history of the country’s flourishing economic relationship with its neighbors. Art and the Order of Nature in Indigenous Philippine Textiles provides a new way of seeing this traditional craft. The textile collection was generously donated by Mercedes Zobel and a  selection of which has been analysed by the Prince’s School of Traditional Arts in London, UK.</p>
        <p class="content-description">The museum also has on exhibition The Philippine Diorama Experience, visually narrating the many milestones of Philippine history through 60 handcrafted dioramas, some of which are featured in the international Google Art Project.</p>
        <p class="content-description">Since 2013, Ayala Museum is now also the home of the Filipinas Heritage Library. A modern library that meets the demands of today’s researcher, FHL provides access to primary sources—rare books, photographs, recordings, and more—in both physical and digital formats, as well as access to over a thousand contemporary titles on Philippine arts, culture and history.”</p>
        <p class="content-description text-medium">Address: Makati Avenue corner De La Rosa Street, Greenbelt Park, Makati City</p>
        <p class="content-description text-medium">Ticket Price: Php 425</p>
        <p class="content-description text-medium">Operating Hours: Tuesday to Sunday/ 09:00 am - 06:00 pm</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://greenbeltchapel.org/" target="_blank">Greenbelt Chapel</a></h4>
        <p class="content-description">“The Greenbelt Chapel sits like a jewel in the middle of gorgeously manicured grounds and mass is heard at least three times daily. A stone’s throw away is Greenbelt 5, where you can atone for your sins by supporting local design talent; an entire top-floor wing is dedicated to the country’s homegrown brands. The chapel makes for a welcome break for meditation, prayer or just a short respite from city life. It is surrounded by trees that add to the charm of the unique architecture.”</p>
        <p class="content-description text-medium">Address: Greenbelt Park, Legazpi Street, Legazpi Village, Makati City</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 07:00 am - 08:00 pm</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://www.myayalamalls.com/ayala+malls/id/3/Greenbelt" target="_blank">Greenbelt Mall</a></h4>
        <p class="content-description">“In the middle of a bustling metropolis, Greenbelt is an enclave of all things beautiful. A three-hectare park punctuated by cascading landscapes and carefully- chosen water features re-imagines the typical mall. With a roster of prominent and world- class retailers, restaurateurs and entertainment operators, it defines the premier Ayala Mall experience. Greenbelt is truly a fitting epitome of the Filipino taking on the world stage as it creatively blends the best of local ingenuity with the winner brands in the world of retail.”</p>
        <p class="content-description text-medium">Address: Ayala Center, Paseo de Roxas corner Legaspi Street and Esperanza Street, Makati City</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 11:00 am - 9:00 pm</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://makeitmakati.com/establishment/greenbelt-park/" target="_blank">Greenbelt Park</a></h4>
        <p class="content-description">“The park is a pleasant oasis in the middle of Greenbelt mall. Just a few steps from the shops and restaurants are a lagoon, little waterfalls, zen garden pockets, sculptures, a church and lots of green.”</p>
        <p class="content-description text-medium">Address: Greenbelt Mall, Ayala Center, San Lorenzo, Makati City (squared by Makati Ave., Paseo de Roxas, Arnaiz Road, and Legazpi Street)</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 06:00 am - 10:00 pm </p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://makeitmakati.com/establishment/ayala-triangle-gardens/" target="_blank">Ayala Triangle Gardens</a></h4>
        <p class="content-description ">“Ayala Triangle Gardens are the breathing hole of the business district of Makati. Lush greenery and mature trees await the weary soul and the tired mind. Beautifully landscaped and blessed with abundant trees like the Fire trees, Golden Palms and rain trees. The gardens are like a peaceful haven in the midst of the busiest part of the city. Surrounded by puzzling varieties of restaurants, just get your lunch here and take a few moments to relax from the chaos of the city and from the mind.”</p>
        <p class="content-description text-medium">Address: Intersection of Makati Avenue and Paseo de Roxas, Makati City</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 06:00 am - 10:00 pm </p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://makeitmakati.com/establishment/washington-sycip-park/" target="_blank">Washington Sycip Park</a></h4>
        <p class="content-description">“Named after Filipino accountant and banker Washington SyCip, the park is located in Legaspi Village, near Greenbelt mall, the Asian Institute of Management and Union Church of Manila. Opened in 2006, it boasts of many indigenous tropical trees and plants, gazebos, benches, sculptures, and a koi pond.”</p>
        <p class="content-description text-medium">Address: Legazpi Street, Legaspi Village, Makati City </p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 06:00 am - 10:00 pm </p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://makeitmakati.com/establishment/legazpi-active-park/" target="_blank">Legaspi Active Park</a></h4>
        <p class="content-description">“A spacious park for recreational activities. It has a path for jogging, wide-open spaces for frisbee or ball games, grassy areas under trees for a picnic, and a mini playground for kids.”</p>
        <p class="content-description text-medium">Address: Legazpi Street, Legaspi Village, Makati City</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 06:00 am - 10:00 pm </p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="http://makeitmakati.com/establishment/jaime-c-velasquez-park/" target="_blank">Jaime C Velasquez Park</a></h4>
        <p class="content-description">“Commonly referred to as Salcedo Park, Jaime C. Velasquez Park is strategically located in the middle of residential, commercial and office buildings in Salcedo Village. It offers a very green background for morning jogs, coffee breaks or afternoon playtime with the kids.”</p>
        <p class="content-description text-medium">Address: Rada Street corner Gamboa Street, Legaspi Village, Makati City (Across Washington Sycip Park)</p>
        <p class="content-description text-medium">Ticket Price: NA</p>
        <p class="content-description text-medium">Operating Hours: 06:00 am - 10:00 pm</p>
    </div>

    <div class="content-section clearfix">
        <h4 class="content-header text-medium"><a href="https://yuchengcomuseum.org/" target="_blank">Yuchengco Museum</a></h4>
        <p class="content-description">“The Yuchengco Museum opened its doors to the public in September 2005. Its primary goal is to foster a greater public appreciation of art through the finest international as well as local, cultural, historical, and design exhibits and programs. Located in Makati, the heart of Metro Manila’s financial district, the Museum is not only a “temple” that showcases art, but also a “forum” of exchange, debate, and education.</p>
        <p class="content-description">The Museum was created to house the art collection of Ambassador Alfonso T. Yuchengco, and highlight his distinguished career as a businessman, diplomat, collector, philanthropist, patron of the arts, and advocate for education in the Philippines and beyond.”</p>
        <p class="content-description text-medium">Address: RCBC Plaza corner of Ayala and Senator Gil J. Puyat Avenues, Makati City</p>
        <p class="content-description text-medium">Ticket Price: Php 100</p>
        <p class="content-description text-medium">Operating Hours: Monday to Saturday/ 10:00 am - 06:00 pm</p>
    </div>
</div>