<div class="banner-section"></div>
<div class="container">
    <div class="content-section clearfix">
        <h4 class="content-header">Accommodation</h4>
        <p class="content-description">The venue of the conference is the Makati Shangri-La, Manila. Participants have the option to stay at Makati Shangri-La, Manila or other nearby hotels. Hotel rooms are available on a first-come, first-served basis. Please make your reservations early to ensure availability of rooms.</p>

    </div>

    <div id="map-container">
        <div id="map"></div>
    </div>

    <div class="content-section clearfix">

        <a href="http://www.shangri-la.com/manila/makatishangrila/" target="_blank" class="content-header content-link">Makati Shangri-La Manila</a>
        <p class="content-description">“A stay at Makati Shangri-La, Manila, is an unforgettable one. The hotel offers you the opportunity to experience the heart of Manila from the very centre of Makati's most prestigious business, shopping and entertainment district.</p>
        <p class="content-description">Makati Shangri-La, Manila is a renowned five-star luxury hotel in Makati City. The hotel is within walking distance from some of the most popular shopping malls in Manila, which include Glorietta, Greenbelt and SM Department Store.</p>
        <p class="content-description">This five-star luxury hotel in Makati is located just 20 minutes away from the airport and is a luxurious sanctuary for both business and leisure travellers. For culture lovers, visit the old city of Intramuros or Ayala Museum to learn more about Filipino culture and history.</p>
        <p class="content-description">Discover international cuisine and have an excellent dining experience at Makati Shangri-La, Manila's award-winning restaurants and bars. Enjoy the comforts of a luxury hotel in Makati while indulging in delicious dishes. For casual dining, head on to the best international buffet at Circles Event Café, offering its fascinating open-theatre kitchens. Indulge in the freshest seafood and authentic Japanese cuisine at Inagiku or experience Shangri-La’s signature Chinese restaurant, Shang Palace, with its modern Cantonese cuisine. Prepare for a gastronomic journey inside your home away from home.</p>
        <p class="content-description">Take your time and have a relaxing vacation in Makati; you are in a luxurious sanctuary. You are at Shangri-La.”</p>
        <p class="content-description text-medium">Address: Ayala Avenue corner Makati Avenue, Makati City, 1200, Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 813 8888 Fax: +63 (2) 813 5499 Email: slm@shangri-la.com</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="http://manila.peninsula.com/en/default" target="_blank" class="content-link content-header">The Peninsula Manila</a>
        <p class="content-description">“For four decades, The Peninsula Manila has set the benchmark for luxury and sophistication. Known affectionately as the “Jewel in the Capital’s Crown” for its legendary presence in the heart of Makati City. A luxurious haven of comfort, quality service and fine cuisine, the hotel is as much a favourite with discerning locals as it is with visitors from overseas.”</p>
        <p class="content-description text-medium">Address: Corner of Ayala and Makati Avenues, 1226, Makati, Metro Manila, Republic of the Philippines”</p>
        <p class="content-description text-medium">Tel: +63 (2) 887 2888 Email: pmn@peninsula.com</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="http://www.the-ascott.com/en/philippines/manila/ascott-makati/index.htm" target="_blank" class="content-link content-header">Ascott Makati</a>
        <p class="content-description">“To experience the pulsating energy of one of the world's most populated cities, one should pay Makati a visit. One of Metro Manila’s 17 districts, Makati makes up the very core of the National Capital Region of the Philippines</p>
        <p class="content-description">Here, visitors will be introduced to towering steel-clad skyscrapers, a diverse range of entertainment hotspots as well as culture and historical landmarks. It is also here where you can find multinational companies, international banks, the Philippine Stock Exchange and foreign embassies.</p>
        <p class="content-description">Located in what is known as the ‘Ayala Triangle’, a posh, upscale area comprising upscale shopping malls, modern office buildings, first-class restaurants, bistros and bars, is the Ascott Makati residence that is housed in Glorietta Mall. Other shopping complexes nearby include The Landmark, Greenbelt and Power Plant shopping malls. A short 5-minute walk away from the residence is the Ayala train station, which links the area with the rest of Makati.</p>
        <p class="content-description">For your culture fix, make a trip to a UNESCO World Heritage site, the Nuestra Señora de Gracia Church, built by the Augustinian friars. The still-functioning Neo-Romanesque-Gothic style church's construction dates as far back as early 1600s and is a popular wedding venue. Another landmark worth visiting is the Ayala Museum, which exhibits the rich and vivid history of the Philippines from as early as the Mactan battle to the country's relatively recent struggle for democracy. It is also home to paintings by notable Filipino painters such as Fernando Amorsolo, Juan Luna and Fernando Zobel.</p>
        <p class="content-description">At the end of an exciting day, return to the residence to rejuvenate. Ascott Makati offers our guests the comforts and little lavishes that makes for a memorable stay. Serviced apartments are spacious and elegantly furnished with contemporary furniture. Apartments come in various sizes, ranging from studios to three-bedroom apartments that come fitted with en-suite bathrooms, a fully equipped kitchen, washing machines and dryers.</p>
        <p class="content-description">Ascott guests have access to comprehensive facilities such as an on-site fitness centre, outdoor swimming pool, tennis courts, spa and massage centre and a list of services like dry cleaning, airport transfer, babysitting and daily housekeeping.”</p>
        <p class="content-description text-medium">Address: Glorietta 4, Ayala Centre, Makati City 1224, Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 729 8888 Email: enquiry.manila@the-ascott.com</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="https://manila.newworldhotels.com/en/" target="_blank" class="content-link content-header">New World Makati Hotel</a>
        <p class="content-description">“Arriving at the lushly landscaped New World Makati Hotel, your first impression will be the warmth of friendly staff welcoming you to our luxury, 5-star hotel in the heart of Makati. Step inside and you’ll find 580 modern guestrooms, suites and executive floor accommodation all designed for your comfort, convenience and efficiency – and everywhere you turn you’ll find service that is natural, engaging and never intrusive.</p>
        <p class="content-description">Makati is one of 16 cities that comprise Metro Manila, and is the financial and commercial hub of the capital. Known as “The Wall Street of the Philippines,” it is home to the Philippine Stock Exchange, embassies, multinational corporations and corporate offices. Nearby are the fashionable Glorietta and Greenbelt Lifestyle shopping complexes, plus local shops and boutiques, making the hotel a perfect base for both business and leisure travelers. Conveniently, we’re just 30 minutes from Ninoy Aquino International Airport.”</p>
        <p class="content-description text-medium">Address: Esperanza Street corner Makati Avenue, Ayala Center, Makati City 1228, Philippines”</p>
        <p class="content-description text-medium">Tel: +63 (2) 811 6888 Fax: +63 (2) 811 6777</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="https://www.makatidiamond.com/" target="_blank" class="content-link content-header">Makati Diamond Residences</a>
        <p class="content-description">“We give you that extra mile to work or relax in comfort, with the best location in Manila for easy access to many multinational corporations, shopping, dining and entertainment destinations. Our 410 guestrooms are furnished with special features and privileges for your overnight or extended stay, complementing your experience at the new standard of luxury living. Makati Diamond Residences is a product of San Miguel Properties, Inc – a subsidiary of one of the largest companies in the Philippines – and their first venture into luxury serviced apartments.</p>
        <p class="content-description">Conveniently located at the Central Business District, Makati Diamond Residences is within steps from Greenbelt and Ayala Avenue, giving you the advantage of being minutes away from your next commerce, leisure or dining destinations.”</p>
        <p class="content-description text-medium">Address: 118 Legazpi Street, Legazpi Village, Makati City 1229 Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 317 0999 Fax: +63 (2) 878 9699</p>
        <p class="content-description text-medium">Email: reservations@makatidiamond.com</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="https://www.dusit.com/dusitthani/manila/" target="_blank" class="content-link content-header">Dusit Thani Manila</a>
        <p class="content-description">“Luxury, heritage and comfort are fused gracefully in all of the 500 exquisite rooms and suites of Dusit Thani Manila – your oasis of calm and magnificence located right in the heart of Makati’s Central Business District. The Dusit Thani Manila is home to the most outstanding restaurants in the city: Benjarong Thai restaurant, Umu Japanese restaurant and all day dining restaurant The Pantry.</p>
        <p class="content-description">Elegantly executed with distinct Thai aesthetics that reflect both sophistication and grace, all Dusit Thani Manila rooms and suites, the Mayuree Grand Ballroom, Dusit Club Lounge, Devarana Spa, DFit Fitness Center, Pool Bar and outdoor pool, private function rooms and lobby provide the traveler with a full range of quality amenities and exceptional facilities to cater to every guest’s need and desire. Dusit Thani Manila is a true testament of the delightful blend of world-class Filipino geniality and signature Thai hospitality.”</p>
        <p class="content-description text-medium">Address: Ayala Centre, 1223 Makati City Metro Manila, Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 238 8888 Fax: +63 (2) 238 8800 Email: dtmn@dusit.com</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="https://www.ihg.com/holidayinn/hotels/us/en/makati/mnlgs/hoteldetail" target="_blank" class="content-link content-header">Holiday Inn Hotel & Suites Makati</a>
        <p class="content-description">“Holiday Inn & Suites Makati is a 5-star deluxe hotel in the Makati Central Business & Entertainment District.</p>
        <p class="content-description">Our family-friendly Makati hotel is directly connected to the renowned Glorietta Shopping Mall and puts you in the heart of the vibrant Ayala Center. Holiday Inn & Suites Makati is surrounded by local attractions and financial hubs such as Greenbelt Mall, Ayala Museum, the Makati Stock Exchange, and the Zuellig Building.</p>
        <p class="content-description">Enjoy the convenience of staying in a secure hotel near the Manila international and domestic airports (MNL), just 8KM away.</p>
        <p class="content-description">All 348 non-smoking guest rooms are equipped with free Internet, Soft and Firm pillows, work desk with multimedia panel, a Bluetooth speaker, plus, all the modern amenities you need for a relaxed stay. Unwind at the roof deck's outdoor pool and sky bar or enjoy a leisurely meal at the hotel’s all day dining restaurant.</p>
        <p class="content-description">Having a staycation with your little ones will be a breeze with the Holiday Inn® Kids Stay and Eat Free programme.</p>
        <p class="content-description">For guest's business needs, other facilities include 8 fully-equipped meeting and function rooms, a Business Center, and an exclusive Executive Lounge that serves breakfast, afternoon tea and evening cocktails.</p>
        <p class="content-description">Explore the metro at ease by taking advantage of Holiday Inn® & Suites Makati’s free scheduled shuttle service to Bonifacio Global City when you book directly from the IHG® App, website or toll-free hotline number.”</p>
        <p class="content-description text-medium">Address: Glorietta Mall, Palm Drive, Ayala Center, Makati, Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 909 0888 Email: hism.reservations@ihg.com</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 15:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>
    <div class="content-section clearfix">
        <a href="http://www.discoveryprimea.com/" target="_blank" class="content-link content-header">Discovery Primea</a>
        <p class="content-description">“Situated along Ayala Avenue in the Makati Central Business District, is a row of residential buildings known as Apartment Ridge. Amidst the city’s shopping centers and business hubs, Discovery Primea luxury hotel in Makati occupies the most desirable corporate and residential address in the Philippines where business, leisure, and culture converge.”</p>
        <p class="content-description">Discovery Primea is a member of the prestigious Preferred Hotels & Resorts LVX Collection, a selection of refined and globally sophisticated hotels and resorts in coveted locations from vibrant city centers to destination landscapes</p>
        <p class="content-description text-medium">Address: 6749 Ayala Avenue, Makati City, 1226 Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 955 8888 Fax: +63 (2) 955 8889 Email: dp.rsvn@discovery.com.ph</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>

    <div class="content-section clearfix">
        <a href="http://www.fairmont.com/makati/" target="_blank" class="content-link content-header">Fairmont Makati</a>
        <p class="content-description">“Fairmont Makati is a five-star luxury hotel known for its prestigious address in the central business district of Manila, within walking distance to the Philippine Stock Exchange, Ayala Museum and Greenbelt - Makati City’s most stylish shopping area.</p>
        <p class="content-description">The Fairmont Makati City hotel is an urban sanctuary where guests can enjoy luxury and privacy at its finest. The hotel offers 280 elegantly appointed guest rooms and suites with unparalleled views of the stunning Makati skyline. Each accommodation is remarkably spacious complete with premium amenities that are essential to both business and leisure travelers, including the Fairmont Gold - our exclusive lifestyle hotel experience.</p>
        <p class="content-description">This Fairmont hotel in Manila, Philippines is also home to Raffles Makati, a 32-room, all-suite hotel, and Raffles Residences, featuring 237 one-to-four-bedroom residences for both short and long-term stays. Raffles is a sister brand under the parent company Fairmont Raffles Hotels International.</p>
        <p class="content-description">Fairmont Makati was recognized as “Best New Hotel” and “Best New Family-Friendly Hotel” by the prestigious Condé Nast Traveler. Apart from holding consistent high ranking in Trip Advisor, the hotel was honored with Travelers' Choice awards in the Luxury, Top Hotel and Exceptional Service categories.”</p>
        <p class="content-description text-medium">Address: 1 Raffles Drive, Makati Avenue, Makati City, 1224 Philippines</p>
        <p class="content-description text-medium">Tel: +63 (2) 795 1888 Fax: +63 (2) 555 9899 Email: makati@fairmont.com</p>
        <p class="content-description text-medium">Internet: Free wifi internet access</p>
        <p class="content-description text-medium">Check-in Time: 14:00 hours</p>
        <p class="content-description text-medium">Check-out Time: 12:00 hours</p>
    </div>


</div>